<header id="header" role="banner">
    <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
        <div class="aui-header-inner">
            <div class="aui-header-primary">
                <h1 id="logo" class="aui-header-logo aui-header-logo-bitbucket-docs"><span class="aui-header-logo-device"></span></h1>
            </div>
        </div>
    </nav>
</header>
