@import url("https://aui-cdn.atlassian.com/aui-adg/5.9.0/css/aui.css");

.aui-header-logo-device {
    display: block;
    float: left;
    height: 24px;
    width: 210px;
    padding: 9px 0;
    text-indent: -9999px;
    text-align: left;
    background: url('../../assets/images/atlassian-developers-logo.svg') no-repeat 0 50%;
    background-size: 100%;
}

#header {
    padding: 0;
    border-bottom: 0;
    margin-bottom:20px;
}

.secondary-header {
    display: inline-block;
    margin-top: 11px;
    font-size: 18px;
}

#quicksearch-div {
    position: absolute;
    right: 0;
    padding-top: 10px;
    padding-right: 20px;
    z-index: 1900;
    line-height: 2;
    font-family: arial,tahoma,verdana,sans-serif;
    border: none;
}

#quicksearch-div form {
    background-color: transparent !important;
    color: #333;
    font-size: 13px;
    line-height: 1.4em;
    margin: 0 0 1em 0;
    position: relative;
}

#quicksearch-div input {
    width: 165px;
    padding: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #DEDEDD;
}

#quicksearch-div select {
    margin-right: 5px;
    padding: 1px;
}

#masthead {
    border-top: 1px solid #CCC;
    background-color: #f5f5f5;
    height: 33px;
    margin: 0;
}

#masthead-title {
    font-size: 12px;
    line-height: 34px;
    padding: 0 10px 0 10px;
    font-weight: bold;
    float: left;
}

#search-box {
    padding: 0 10px 0 0;
    float: right;
    line-height: 34px;
}

#search {
    margin: 0 !important;
    line-height: 34px;
}

.gsc-search-box {
    margin: 0 !important;
}

td.gsc-input {
    padding: 0 5px 0 0;
}
input.gsc-input {
    background-color: #ffffff;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius: 5px;
    border: 1px solid #DEDEDD;
    cursor: pointer;
    padding: 2px;
    font-size: 12px;
}

#search_filtered .jd-selected {
  background-color: #0767a4;
}

#login-link {
	display: inline;
	padding: 12px 0 20px 12px;
}
#login-link a,
#login-link a:visited {
	color: #386d99 !important;
	padding-left: 150px !important;
}
#login-link a:hover {
	color: #ffffff !important;
}

/* Style the menu at the center */
#dac-menu-bar {
    position: absolute;
    left: 0;
    margin-left: 320px;
    margin-right: auto;
    bottom: 44px;
    padding-left: 20px;
}

#dac-menu-bar a {
    display: block;
    float: left;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #8BC9F2;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 15px 12px 19px 12px;
}

#dac-menu-bar a:hover {
    color: #f5f5f5;
}

#dac-menu-bar a.active {
    color: #1A3045;
    background-color: #ecf6fd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}

#dac-menu-bar a.active:hover {
    color: #1A3045;
}

#dac-submenu {
    position: absolute;
    bottom: 2px;
}

#dac-submenu li {
    float: left;
    list-style-type: none;
    padding: 0 12px;
}

#dac-submenu li a {
    color: #217EB8 !important;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-weight: normal;
    font-size: 14px;
    width: auto;
}

#dac-submenu a.active {
    color: #173964 !important;
    font-weight: bold;
}

/* For the simple HTML form. */
#feedback {
    background-color:#f9f9f9;
    margin: 50px 20px 20px 20px;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#feedback-macro-form p {
    display:inline;
}

#feedback-macro-form h5 {
    margin-top:0;
}

#feedback-macro-form .feedback-buttons {
    display:inline;
    margin-left:10px;
}

/* markup for atlassian annotation sections */
div.atlassian-api {
  margin: 1em;
  padding: 0 0 0 .5em;
  border-left: 4px solid;
}

div.atlassian-api.public {
    border-color: #173964;
}

div.atlassian-api.internal {
    border-color: red;
}

div.atlassian-api.spi {
    border-color: #8BC9F2;
}

div.atlassian-api.experimental {
    border-color: yellow;
}

div.atlassian-api img {
    float: left;
    padding-right: 10px;
}

div.extended-info {
    display: none;
    clear: both;
}

#jd-content img.expando-arrow {
    margin: 6px 0 1em 1em;
}
